<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <h1 class="form-group newRatingTitle" id="new-rating-title">
        Your Verdict...
      </h1>

      <form
        action="/wines/<%= wineId %>/ratings/create"
        method="POST"
        id="formNewRating"
      >
        <div class="form-group row">
          <label for="poq">Price / Quality</label>
          <input
            type="number"
            class="form-control"
            name="poq"
            aria-describedby="poqHelp"
            step="1"
            min="0"
            max="10"
            id="poqValue"
            value=""
            onchange="avgRatingUpdate()"
          />
          <small class="text-muted" id="pqHelp">value out of 10. Ex.: 8</small>
        </div>

        <div class="form-group row">
          <label for="body">Wine body</label>
          <input
            type="number"
            class="form-control"
            name="body"
            aria-describedby="bodyHelp"
            step="1"
            min="0"
            max="10"
            id="bodyValue"
            value=""
            onchange="avgRatingUpdate()"
          />
          <small class="text-muted" id="bodHelp">value out of 10. Ex.: 8</small>
        </div>

        <div class="form-group row">
          <label for="taste">Wine taste</label>
          <input
            type="number"
            class="form-control"
            name="taste"
            aria-describedby="tasteHelp"
            step="1"
            min="0"
            max="10"
            id="tasteValue"
            value=""
            onchange="avgRatingUpdate()"
          />
          <small class="text-muted" id="tasHelp">value out of 10. Ex.: 8</small>
        </div>

        <div class="form-group row">
          <label for="looks">Bottle looks</label>
          <input
            type="number"
            class="form-control"
            name="looks"
            aria-describedby="looksHelp"
            step="1"
            min="0"
            max="10"
            id="looksValue"
            value=""
            onchange="avgRatingUpdate()"
          />
          <small class="text-muted" id="looHelp">value out of 10. Ex.: 8</small>
        </div>

        <div class="form-group row">
          <label for="comments">Comments</label>
          <textarea rows="3" class="form-control" name="comments"></textarea>
          <small class="text-muted" id="commHelp"
            >enter your review about this wine</small
          >
        </div>

        <div class="form-group row">
          <label for="avgRating">Rating</label>
          <input
            type="number"
            class="form-control"
            name="avgRating"
            aria-describedby="avgRatingHelp"
            step="0.1"
            min="0"
            max="10"
            id="avgRatingValue"
            value=""
            readonly
          />
          <small class="text-muted" id="avgRatHelp">your final verdict</small>
        </div>

        <button type="submit" class="btn btn-primary ratingBtn">Submit</button>
      </form>
      <% include ../static/partials/footer.ejs %>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
