<!-- Navigation -->
<nav
  class="animated slideInDown navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
  id="navbar"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <a href="/" class="navbar-right"
    ><img
      class="animated fadeIn logo"
      src="../../../../images/uva-dark.png"
      width="130"
      height="150"
      alt="UVA"
  /></a>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto" id="navbar-links">
      <li class="nav-item">
        <a class="nav-link homeLink" id="home-active" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <% if(currentUser) { %>
      <li class="nav-item">
        <a class="nav-link signOutLink" href="/users/sign_out">Sign out</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link signUpLink" href="/users/sign_up">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link signInLink" href="/users/sign_in">Sign in</a>
      </li>
      <% }%>
      <li class="nav-item">
        <a class="nav-link winesLink" href="/wines">Wines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link aboutLink" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>
