<!-- Navigation -->
<nav class="animated slideInDown navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navbar">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="#" class="navbar-right"
    ><img
      class="animated fadeIn logo"
      src="../../images/uva-dark.png"
      width="130"
      height="150"
      alt="UVA"
  /></a>
  <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" id="navbar-links">
        <li class="nav-item">
          <a class="nav-link" id="home-active" href="#"
            >Home
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Wines</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
