<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <%include ../static/partials/navbar.ejs %>
    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <h1 class="form-group newWineTitle" id="new-wine-title">
        New Wine Critique
      </h1>

      <form action="/wines/create" method="POST" id="formNewCritique">
        <!-- Picture upload -->
        <div class="form-group row">
          <label for="picture">Wine picture</label>
          <input
            type="file"
            class="form-control "
            name="picture"
            aria-describedby="pictureHelp"
          />
        </div>
        <!-- Ends picture upload -->

        <div class="form-group row">
          <label for="name">Wine name</label>
          <input
            type="text"
            class="form-control "
            name="name"
            aria-describedby="nameHelp"
            size="50"
          />
          <small class="text-muted" id="nameHelp">ex.: Petrus</small>
        </div>

        <div class="form-group row">
          <label for="country">Country and region</label>
          <input
            type="text"
            class="form-control"
            name="country"
            aria-describedby="countryHelp"
          />
          <small class="text-muted" id="countryHelp"
            >ex.: France (Bordeaux)</small
          >
        </div>

        <div class="form-group row">
          <label for="variety">Grape variety</label>
          <input
            type="text"
            class="form-control"
            name="variety"
            aria-describedby="varietyHelp"
          />
          <small class="text-muted" id="varietyHelp"
            >ex.: Cabernet Sauvignon</small
          >
        </div>

        <div class="form-group row">
          <label for="alcohol">Alcohol percentage</label>
          <input
            type="number"
            class="form-control"
            name="alcohol"
            aria-describedby="alcoholHelp"
            step="0.1"
            min="0"
          />
          <small class="text-muted" id="alcoholHelp">ex.: 13.0</small>
        </div>

        <div class="form-group row">
          <label for="price">Price</label>
          <input
            type="number"
            class="form-control"
            name="price"
            aria-describedby="priceHelp"
            step="0.01"
            min="0"
          />
          <small class="text-muted" id="priceHelp">ex.: 24.99</small>
        </div>

        <h1 class="form-group uvaTitle" id="uva-title">Rating</h1>

        <div class="form-group row">
          <label for="poq">Price / Quality</label>
          <input
            type="number"
            class="form-control"
            name="poq"
            aria-describedby="poqHelp"
            step="1"
            min="0"
            max="10"
            id="poqValue"
            value="0"
            onchange="avgRatingUpdate()"
          />
          <small class="text-muted" id="poqHelp">value out of 10. Ex.: 8</small>
        </div>

        <div class="form-group row">
          <label for="body">Wine body</label>
          <input
            type="number"
            class="form-control"
            name="body"
            aria-describedby="bodyHelp"
            step="1"
            min="0"
            max="10"
            id="bodyValue"
            value="0"
            onchange="avgRatingUpdate()"
          />
          <small class="text-muted" id="poqHelp">value out of 10. Ex.: 8</small>
        </div>

        <div class="form-group row">
          <label for="taste">Wine taste</label>
          <input
            type="number"
            class="form-control"
            name="taste"
            aria-describedby="tasteHelp"
            step="1"
            min="0"
            max="10"
            id="tasteValue"
            value="0"
            onchange="avgRatingUpdate()"
          />
          <small class="text-muted" id="poqHelp">value out of 10. Ex.: 8</small>
        </div>

        <div class="form-group row">
          <label for="looks">Bottle looks</label>
          <input
            type="number"
            class="form-control"
            name="looks"
            aria-describedby="looksHelp"
            step="1"
            min="0"
            max="10"
            id="looksValue"
            value="0"
            onchange="avgRatingUpdate()"
          />
          <small class="text-muted" id="poqHelp">value out of 10. Ex.: 8</small>
        </div>

        <div class="form-group row">
          <label for="comments">Comments</label>
          <textarea rows="3" class="form-control" name="comments"></textarea>
          <small class="text-muted" id="commentsHelp"
            >enter an insight of the wine's main characteristics</small
          >
        </div>

        <div class="form-group row">
          <label for="avgRating">Rating</label>
          <input
            type="number"
            class="form-control"
            id="ratingNewWine"
            name="avgRating"
            aria-describedby="avgRatingHelp"
            step="0.1"
            min="0"
            max="10"
            id="avgRatingValue"
            value="0"
            readonly
          />
          <small class="text-muted" id="avgRatingHelp"
            >resulting rating provided by UVA</small
          >
        </div>

        <button type="submit" class="btn btn-primary newCritiqueBtn">
          Submit
        </button>
      </form>
      <% include ../static/partials/footer.ejs %>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
